/* Header */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0cc7b4;
}

.landing-container{
    padding: 20px;
    background-color: #E3EAF1;
}

.nav-container-landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}

.nav-landing{
    z-index: 20;
    position: sticky;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff;
    font-size: 1.2rem;
}

.nav-menu-landing {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.nav-link-landing {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.nav-link-start-landing {
    color: white;
    text-decoration: none;
    background-color: #03314B;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.nav-link-landing:hover {
    background-color: #03314B;
    color: white;
    border-radius: 5px;
}
.nav-link-start-landing:hover {
    background-color:#03314B;
    color: white;
    border-radius: 5px;
}
.nav-items-landing {
    margin-right: 1rem;
}

.nav-logo-landing {
    font-size: 27px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo-landing-text.connect {
    color: #94b9ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
  
.nav-logo-landing-text.way {
    color: #cdffd8;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-logo-landing-text.connect {
    color: #03314B;
    text-shadow: 1px 1px 5px rgba(27, 64, 184, 0.616);
    margin-bottom: -7px;
}
  
.nav-logo-landing-text.way {
    color: #9EE493;
    text-shadow: 1px 1px 5px rgba(27, 64, 184, 0.616);
    margin-bottom: -7px;
    -webkit-text-stroke: 1px #87d87db4; /* Aplica el borde negro con grosor de 2px */
}

.nav-logo-landing-text.connect,
.nav-logo-landing-text.way {
  font-family: "Arial", sans-serif;
  font-weight: 900;
}

.nav-logo-text {
    padding-top: 15px; 
}

.nav-logo-image0 {
    width: 95px;
    height: auto;
    margin-right: 10px; 
    padding-bottom:10px;
    margin-top: 16px;
}

.nav-link-landing, .nav-link-start-landing {
    color: white; 
    text-decoration: none;
    padding: 0.5rem 0.8rem;
}

.nav-menu-landing {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-icon-landing {
    display: none;
    cursor: pointer;
}

.menu-icon-landing {
    font-size: 2rem;
    color: white;
}

.main-content {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 50px;
}

.text-content {
    max-width: 40%; 
}

.titulo-landing {
    font-size: 36px;
    color: #03314B;
    font-weight: 700;
}

.extra{
    color: #03314B; 

    letter-spacing: 1px; 
}

.texto-landing {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight {
    background-color: white;
    padding: 3px 5px;
    border-radius: 3px;
}

.phone-image {
    width: 500px;
    border-radius: 20px;
    margin-left: 45%;
}

.btn-start-landing {
    background-color: #03314B;
    color: white;
    padding: 0.5rem 10rem; 
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
.btn-start-landing:hover {
    background-color:#03314B;
    color: white;
    border-radius: 5px;
}

/* Responsive */
/* Ajustes para la vista en móviles */
.nav-icon-landing {
    display: none;
    cursor: pointer;
}

.menu-icon-landing {
    font-size: 2rem;
    color: white;
}

.image-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    text-align: center
}

@media screen and (max-width: 768px) {
    .nav-menu-landing {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        background-color: #ffffff;
        transition: left 0.3s ease;
    }

    .nav-menu-landing.active {
        left: 0;
    }

    .nav-icon-landing {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
        transform: translate(-100%, 50%);
    }

    .nav-items-landing {
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .nav-link-landing {
        padding: 1rem;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .image-content {
        margin-top: 30px;
        text-align: center;
    }

    .phone-image {
        width: 100%;
        max-width: 300px;
        margin-left: 0;
    }

    .btn-start-landing {
        padding: 0.5rem 5rem;
    }
}

