.contenedor {
  max-width: 300px;
  min-height: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-portada {
  height: 150px;
  width: 100%;
  object-fit: cover;
  padding: 5%;
}

.titulo {
  font-size: 1.1rem;
  line-height: 1.3rem;
  min-height: 2.6rem; /* Asegura que el título ocupe al menos 2 líneas */
  max-height: 2.6rem; /* Limita el título a 2 líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.descripcion {
  font-size: 0.9rem;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita el número de líneas a 3 */
  -webkit-box-orient: vertical;
  min-height: 4.5rem; /* Asegura que la descripción ocupe al menos 3 líneas */
}

.autor, .descripcion, .duracion {
  text-align: left;
}

.icono-editar, .icono-eliminar {
  margin-right: 20%;
}

.duracion {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.boton-editar, .boton-eliminar {
  width: 100px;
}

.boton-editar i, .boton-eliminar i {
  margin-right: 5px;
}
