.contenedor-comun {
  width: 250px;
  height: 400px;
  margin: 10px auto;
  background-color: #E3EAF1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.img-portada-comun {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.titulo-comun {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #03314B;
  text-align: center;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  white-space: normal; 
  isplay: -webkit-box;
  -webkit-line-clamp: 1; /* Mostrar un máximo de 4 líneas */
  -webkit-box-orient: vertical;
  max-height: 1.2rem;
  min-height: 1.2rem;
  max-width: 100%; 
  height: auto; 
}

.descripcion-comun {
  font-size: 0.9rem;
  color: #6D7891;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Mostrar un máximo de 4 líneas */
  -webkit-box-orient: vertical;
  max-height: 4.8rem;
  min-height: 4.8rem;
  margin: 10px 0;
}

.boton-ver {
  font-size: 0.85rem;
  border-color: #03314B;
  background-color: #03314B;
  color: white;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}