/* TarjetaCategoria.css */

.contenedor-cats {
    flex-basis: 18%; /* Ajuste para que quepan cinco tarjetas en una fila */
    margin: 0.5rem;
    background-color: #f8f9fa;
    border-color: black;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor-cats:hover {
    background-color: #03314B;
    color:white;
    
}
.contenedor-cats.seleccionado {
    background-color: #03314B;
    color: white;
}

.nombre-categoria {
    font-size: 0.85rem; /* Texto más pequeño */
    margin-top: 0.3rem;
    
}
