.titulo-aud-reg {
    text-align: center;
    margin: 20px 0;
}
.contenedor-imagen {
    width: 100%; 
    height: auto;
    max-height: 150px; 
    object-fit: cover; 
}

.contenedor {
    width: 300px; 
    margin: 0 10px; 
}

.carousel-item {
    display: flex;
    justify-content: center; 
    padding: 20px; 
}
.titulo-1{
    font-size: 1.7rem;
    padding-left: 8rem;
}
.eliminar-accion .fa-trash-alt {
    color: #DC3545;
}
.eliminar-accion .confirm-button{
    background-color: #DC3545;
    border-color: black;
}
.content-audiolibro {
    margin-top: 1rem !important;
    padding: 40px 20px;
    z-index: 2;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  