/* Contenedor que contiene la barra de búsqueda y el botón */
.search-container {
    position: relative; 
    margin-top: 10px; 
    max-width: 90%; 
    width: 400px; 
    margin-left: auto;  
    margin-right: auto; 
}

/* Estilo de la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    width: 100%; 
    height: 40px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
    background-color: #ffffff; 
    transition: border 0.3s ease; 
}

/* Cambia el borde a color verde cuando la barra de búsqueda está activa (focus) */
.search-bar:focus-within {
    border: 2px solid #03314B; 
}

/* Estilo del campo de entrada */
.search-bar input {
    width: 100%; 
    height: 100%; 
    padding: 10px 15px; 
    border: none; 
    outline: none; 
    font-size: 16px; 
    color: #03314B; 
    background-color: transparent; 
}

/* Estilo del botón de búsqueda */
.search-bar .search-button {
    background-color: #03314B; 
    border: none; 
    padding: 0 10px; 
    height: 40px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 0 8px 8px 0; 
}

/* Estilo del ícono de la lupa */
.search-bar .search-button i {
    color: #fff; 
    font-size: 16px; 
}

.error-message {
    color: red; 
    margin-top: 10px; 
    font-size: 14px; 
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    .search-container {
        width: 100%; 
    }

    .search-bar input {
        font-size: 14px; 
    }

    .search-bar .search-button {
        padding: 0 8px; 
    }

    .error-message {
        font-size: 12px; 
    }
    
}