.audiolibro-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.audiolibro-detalles {
    display: flex;
    justify-content: space-between;
}

.contenido-audiolibro{
    margin-left: 180px; 
    margin-top: 85px;
    padding: 10px;
}

.contenido-audiolibro p {    
    margin-bottom: 60px;
}

.contenido-audiolibro1 p {
    margin-left: -100px; 
}


.audiolibro-portada img{
    width: 400px;
    height: 500px;
    border: 3px solid black; /* Borrar */
    margin-top: 100px; 
    margin-right: 440px; 
}

.btn-reproducir {
    background-color: #0A1045;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 190px; 
    
}

.detalles-orden{
    margin-left: 190px; 
    margin-top: -200px;
}

.audiolibro-categoria {
    margin-top: 20px;
    margin-left: 190px; /* */
    padding-top: 10px;
}

.categoria-icono {
    float: left; 
    width: 22px;
    margin-right: 5px; 
}

.audiolibro-categoria p {
    display: inline-block; 
}

.custom-hr {
    border: 1px solid #000000; 
    max-width: 900px;  /* Limita el ancho máximo a 600px */
    margin-bottom: 40px;
    margin-left: 110px; /* */
}

.custom2-hr {
    border: 1px solid #000000; 
    max-width: 900px;  /* Limita el ancho máximo a 600px */
    margin-bottom: 10px;
    margin-left: -80px; /* */
}