.pagina-inicio {
    padding: 20px;
}

.audiolibro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.audiolibro-detalles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.contenido-audiolibro {
    flex: 1;
    margin: 20px 10px;
    padding: 10px;
    max-width: calc(100% - 370px);
}

.contenido-audiolibro p {
    margin-bottom: 20px;
    white-space: normal;
}

.audiolibro-portada {
    flex: 0 0 350px; 
    max-width: 350px;
    min-width: 150px;
    height: auto;
    margin: 30px;
    margin-right: 60px;
}

.audiolibro-portada img {
    width: 100%;
    height: auto;
}

.btn-reproducir {
    background-color: #03314B;
    color: #fff;
    width: 150px; 
    height: 50px; 
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
}

.btn-reproducir img {
    position: absolute;
    left: 10px; 
}

.icono {
    width: 25px; 
}

.texto {
    width: 80px; 
    text-align: left;
    padding-left: 10px;
}

.detalles-orden {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.detalles-orden > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.detalles-orden > div > div {
    display: flex;
    align-items: center;
    width: 50%;
}

.audiolibro-categoria {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.categoria-icono {
    width: 22px;
    height: 22px;
}

.audiolibro-categoria p {
    margin: 0;
}

.custom-hr {
    border: 1px solid #000000;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom2-hr {
    border: 1px solid #000000;
    max-width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .audiolibro-container {
        margin: 0;
        padding: 10px;
    }

    .audiolibro-detalles {
        flex-direction: column;
        align-items: center;
    }

    .contenido-audiolibro {
        max-width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .audiolibro-portada {
        max-width: 80%;
        margin: 20px 0;
    }
}
