.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close-button {
    background: none; 
    border: none; 
    font-size: 2rem; 
    cursor: pointer; 
    color: black; 
    margin-left: auto;
}

.modal-divider {
    border: none; 
    height: 4px; 
    background-color: #333; 
    margin-top: 0;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.icon-container i {
    font-size: 3rem;
    color: #0A1044; 
}

.modal-body p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end; /* Alinea los botones hacia la derecha */
    align-items: center;
    margin-top: 20px;
}
.modal-footer-noti {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: 20px;
}

.cancel-button {
    padding: 7px 23px;
    font-size: 0.85rem;
    border-radius: 5px;
    width: auto; 
    margin-right: 10px; 
    border-color: #03314B; 
    color: #03314B; 
    border-style: solid;
    border-width: 1px;    
}

.cancel-button:hover {
    background-color: #03314B; 
    color: white; 
}
.confirm-button {
    padding: 8px 23px;
    font-size: 0.85rem;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
    border-color: #03314B; 
    background-color: #03314B; 
    color: white; 
    border: none;
}
.confirm-button:hover {
    border-color: #03314B; 
    background-color: #03314B;   
}
.title-modal{
    font-size: 1.2rem;
    font-weight: bold;
}

.icon-container.loading {
    font-size: 3em;
    margin: 20px 0;
}
.fa-spinner {
    color: #03314B; /* Cambia este color según tu preferencia */
}
.main-message {
    font-size: 1.2em;
}