.comentarios-container {
  margin-top: 20px;
}

.comentarios-seccion {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.comentario {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comentario strong {
  display: block;
  font-weight: bold;
}

.comentario-imagen {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.comentario-texto {
  flex: 1;
}
.nuevo-comentario {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.nuevo-comentario input[type="text"] {
  flex: 1;
  padding: 5px;
}

.nuevo-comentario button {
  padding: 5px 10px;
  background-color: #ddd;
  color: #03314b;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.boton-comentario {
  background-color: transparent !important;
  width: 40px;
  height: 40px;
}

.nuevo-comentario button:hover {
  background-color: #e8e8e8c5 !important;
}

.btn-clip {
  background-color: transparent;
  font-size: 24px;
  color: #03314b;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding: 8px;
}

.btn-clip:hover {
  background-color: #e8e8e8c5 !important;
  cursor: pointer;
}

.tooltip-container {
  position: relative; /* Para posicionar el tooltip sin afectar otros elementos */
  display: inline-block; /* Evita que cambie el tamaño del contenedor */
  width: 100%;
}

.tooltip-box {
  position: absolute; /* Asegura que no impacte en el flujo del layout */
  left: 150px;
  top: -70px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1000;
  display: none; /* Se muestra solo cuando sea necesario */
}

.tooltip-container:hover .tooltip-box {
  display: block; /* Se muestra al hacer hover */
}

.tooltip-container input {
  width: 100%; /* O el tamaño que prefieras */
  box-sizing: border-box; /* Evita que el padding afecte el tamaño */
  margin: 0; /* Elimina márgenes que podrían ser aplicados por estilos globales */
}
