.description {
  width: 80%;
  margin: 0 auto;
}


.slick-slider {
  width: 100%;
  margin: 0 auto;
}

.slick-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-track {
  display: flex;
  justify-content: center;
}


.contenedor {
  margin: 0 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contenedor:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-left: -10px;
}

.description-box img {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.description-box img:hover {
  transform: scale(1.1);
}

.audiolibro-info {
  text-align: center;
  margin-top: 10px;
}

.audiolibro-info h3 {
  font-size: 1.2em;
  margin: 0;
  color: #03314b;
  transition: color 0.3s ease;
}

.audiolibro-info h3:hover {
  color: #0468b2;
}

.audiolibro-info p {
  font-size: 1em;
  color: darkgray;
  margin: 5px 0 0 0;
}

/* Botones de Navegación del Carrusel */
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
  background-color: #03314B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
  transform: scale(1.1);
  background-color: #94b9ff;
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.titulo-description-1{
  color: #03314b;
  font-weight: 800;
}

/* Estilo Responsivo */
@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
  }

  .slick-prev {
    left: -30px;
  }

  .slick-next {
    right: -30px;
  }

  .description-box img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
  }
}
