.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #9EE493;
    padding: 10px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0A1044;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-links a {
    color: #0A1044;
    /*font-weight: bold;*/
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* transición épica*/
}

.nav-links a:hover {
    background-color: #0A1044; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0A1044;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #0A1044;
    transition: background-color 0.3s, color 0.3s; 
}

.dropdown-content a:hover {
    background-color: #9EE493; 
    color: #0A1044; 
}