.navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.nav-logo, .nav-links, .dropdown-link {
    color: #03314B;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.nav-logo {
    font-size: 24px;
    margin-left: 20px;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.nav-item {
    margin-right: 1rem;
}

.nav-links {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav-links:hover, .nav-links.active {
    background-color: #03314B;
    color: white;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000; 
    width: auto;
    top: 100%; 
    margin-top: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-link {
    padding: 10px;
    display: block;
    background-color: white;
}

.dropdown-link:hover {
    background-color: #03314B;
    color: white;
}

.nav-icon {
    display: none;
    cursor: pointer;
}

.hamburger-open,
.hamburger-close {
    width: 3rem;
    height: 3rem;
    background-color: #03314B;
    display: inline-block;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        background: #ffffff;
        z-index: 999;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
    }

    .nav-linkss, .nav-linkss1, .nav-linkss2, .nav-linkss3, .nav-linkss4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        margin-bottom: 0.3rem;
    }

    .dropdown-content {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background: #ffffff;
        z-index: 998;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-link {
        width: 100%;
        background-color: transparent;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translate(-100%, -50%);
    }

    .menu-icon {
        font-size: 3rem;
        color: #03314B;
    }
}

.nav-logo-image {
    width: 110px;
    height: auto;
}

.nav-logo-image1 {
    width: 20px;
    height: auto;
    margin: 5px;
    margin-top: -1px;
    filter: none;
}

/* Inicio, Audiolibros, Comunidad, Mi actividad, Perfil */
.nav-linkss, .nav-linkss1, .nav-linkss2, .nav-linkss3, .nav-linkss4 {
    color: #03314B;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.nav-linkss:hover, .nav-linkss1:hover, .nav-linkss2:hover, .nav-linkss3:hover, .nav-linkss4:hover,
.nav-linkss.active, .nav-linkss1.active, .nav-linkss2.active, .nav-linkss3.active, .nav-linkss4.active {
    background-color: #03314B;
    color: white;
}

.nav-linkss img, .nav-linkss1 img, .nav-linkss2 img, .nav-linkss3 img, .nav-linkss4 img {
    width: 20px;
    height: auto;
    transition: opacity 0.3s ease;
}

.nav-linkss.active img, .nav-linkss:hover img {
    content: url('../../images/hogar1.png');
}

.nav-linkss:not(.active):not(:hover) img {
    content: url('../../images/hogar.png');
}

.nav-linkss1.active img, .nav-linkss1:hover img {
    content: url('../../images/auriculares-redondeados1.png');
}

.nav-linkss1:not(.active):not(:hover) img {
    content: url('../../images/auriculares-redondeados.png');
}

.nav-linkss2.active img, .nav-linkss2:hover img {
    content: url('../../images/grupo1.png');
}

.nav-linkss2:not(.active):not(:hover) img {
    content: url('../../images/grupo.png');
}

.nav-linkss3.active img, .nav-linkss3:hover img {
    content: url('../../images/cabeza1.png');
}

.nav-linkss3:not(.active):not(:hover) img {
    content: url('../../images/cabeza.png');
}

.nav-linkss4.active img, .nav-linkss4:hover img {
    content: url('../../images/usuario1.png');
}

.nav-linkss4:not(.active):not(:hover) img {
    content: url('../../images/usuario.png');
}