
.pagina-inicio {
    position: relative;
    background: #f0f4f8; /* Color de fondo suave */
    overflow: hidden;
  }
  
  /* Para que las figuras no afecten el navbar */
  .navbar {
    z-index: 3;
    position: relative;
  }
  
  /* Contenido principal debajo del Navbar */
  .content {
    padding: 40px 20px;
    z-index: 2;
    position: relative;
  }
  
  /* Figuras decorativas - Añade estas figuras solo en la sección debajo del Navbar */
  .pagina-inicio::before,
  .pagina-inicio::after {
    content: "";
    position: absolute;
    background: rgba(3, 49, 75, 0.1);
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  
  /* Figura en la esquina superior izquierda */
  .pagina-inicio::before {
    width: 300px;
    height: 300px;
    top: 150px; /*según latura navbar*/
    left: -150px;
    background: linear-gradient(135deg, #7FB3D5, #03314b);
  }
  
  /* Figura en la esquina inferior derecha */
  .pagina-inicio::after {
    width: 400px;
    height: 400px;
    bottom: -200px;
    right: -200px;
    background: linear-gradient(135deg, #03314b, #85C1E9);
  }
  
  /* Efectos de animación para las figuras */
  .pagina-inicio:hover::before {
    transform: translate(-10px, 10px);
  }
  
  .pagina-inicio:hover::after {
    transform: translate(10px, -10px);
  }
  